<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/litegraph.css">
	<link rel="stylesheet" type="text/css" href="css/litegraph-editor.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<div id="main"></div>>

	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

	<!-- Litegraph -->
	<script type="text/javascript" src="js/litegraph.js"></script>
	<script type="text/javascript" src="js/litegraph-editor.js"></script>

	<!-- Base Litegraph Nodes-->
	<script type="text/javascript" src="js/nodes/base.js"></script>
	<script type="text/javascript" src="js/nodes/logic.js"></script>
	<script type="text/javascript" src="js/nodes/events.js"></script>
	<script type="text/javascript" src="js/nodes/math.js"></script>
	<script type="text/javascript" src="js/nodes/math3d.js"></script>
	<script type="text/javascript" src="js/nodes/strings.js"></script>
	<script type="text/javascript" src="js/nodes/interface.js"></script>
	<script type="text/javascript" src="js/nodes/geometry.js"></script>
	<script type="text/javascript" src="js/nodes/input.js"></script>
	<script type="text/javascript" src="js/nodes/midi.js"></script>
	<script type="text/javascript" src="js/nodes/audio.js"></script>

	<!-- Kratos Custom Nodes -->
	<script type="text/javascript" src="js/kratos_nodes/linear_solver.js"></script>
	<script type="text/javascript" src="js/kratos_nodes/model_part.js"></script>
	<script type="text/javascript" src="js/kratos_nodes/parameters.js"></script>
	<script type="text/javascript" src="js/kratos_nodes/postprocess.js"></script>
	<script type="text/javascript" src="js/kratos_nodes/solvers.js"></script>

	<script>

		LiteGraph.node_images_path = "../nodes_data/";
		var editor = new LiteGraph.Editor("main");
		
		// window.graphcanvas = editor.graphcanvas;
		// window.graph = editor.graph;
		// window.addEventListener("resize", function() { editor.graphcanvas.resize(); } );
		// //window.addEventListener("keydown", editor.graphcanvas.processKey.bind(editor.graphcanvas) );
		// window.onbeforeunload = function(){
		// 	var data = JSON.stringify( graph.serialize() );
		// 	localStorage.setItem("litegraphg demo backup", data );
		// }
		
		// //create scene selector
		// var elem = document.createElement("span");
		// elem.className = "selector";
		// elem.innerHTML = "Demo <select><option>Empty</option></select> <button id='save'>Save</button><button id='load'>Load</button><button id='download'>Download</button>";
		// editor.tools.appendChild(elem);
		// var select = elem.querySelector("select");
		// select.addEventListener("change", function(e){
		// 	var option = this.options[this.selectedIndex];
		// 	var url = option.dataset["url"];
			
		// 	if(url)
		// 		graph.load( url );
		// 	else if(option.callback)
		// 		option.callback();
		// 	else
		// 		graph.clear();
		// });
		
		// elem.querySelector("#save").addEventListener("click",function(){
		// 	console.log("saved");
		// 	localStorage.setItem( "graphdemo_save", JSON.stringify( graph.serialize() ) );
		// });
		
		// elem.querySelector("#load").addEventListener("click",function(){
		// 	var data = localStorage.getItem( "graphdemo_save" );
		// 	if(data)
		// 		graph.configure( JSON.parse( data ) );
		// 	console.log("loaded");
		// });
		
		// elem.querySelector("#download").addEventListener("click",function(){
		// 	var data = JSON.stringify( graph.serialize() );
		// 	var file = new Blob( [ data ] );
		// 	var url = URL.createObjectURL( file );
		// 	var element = document.createElement("a");
		// 	element.setAttribute('href', url);
		// 	element.setAttribute('download', "graph.JSON" );
		// 	element.style.display = 'none';
		// 	document.body.appendChild(element);
		// 	element.click();
		// 	document.body.removeChild(element);
		// 	setTimeout( function(){ URL.revokeObjectURL( url ); }, 1000*60 ); //wait one minute to revoke url	
		// });
		
		// function addDemo( name, url )
		// {
		// 	var option = document.createElement("option");
		// 	if(url.constructor === String)
		// 		option.dataset["url"] = url;
		// 	else
		// 		option.callback = url;
		// 	option.innerHTML = name;
		// 	select.appendChild( option );
		// }
		
		// //some examples
		// addDemo("Features", "examples/features.json");
		// addDemo("Benchmark", "examples/benchmark.json");
		// addDemo("Subgraph", "examples/subgraph.json");
		// addDemo("Audio", "examples/audio.json");
		// addDemo("Audio Delay", "examples/audio_delay.json");
		// addDemo("Audio Reverb", "examples/audio_reverb.json");
		// addDemo("MIDI Generation", "examples/midi_generation.json");
		// addDemo("autobackup", function(){
		// 	var data = localStorage.getItem("litegraphg demo backup");
		// 	if(!data)
		// 		return;
		// 	var graph_data = JSON.parse(data);
		// 	graph.configure( graph_data );
		// });
		
		// (function() {
		//     var canvas = document.getElementById('mycanvas'),
		//             context = canvas.getContext('2d');
		
		//     // resize the canvas to fill browser window dynamically
		//     window.addEventListener('resize', resizeCanvas, false);
		
		//     function resizeCanvas() {
		//             canvas.width = window.innerWidth;
		//             canvas.height = window.innerHeight;
		
		//             /**
		//              * Your drawings need to be inside this function otherwise they will be reset when 
		//              * you resize the browser window and the canvas goes will be cleared.
		//              */
		//             drawStuff(); 
		//     }
		//     resizeCanvas();
		
		//     function drawStuff() {
		//             // do your drawing stuff here
		//     }
		// })();
	</script>

</body>
</html>

<!-- <body style='width:100%; height:100%'>
<canvas id='mycanvas' width='1024' height='720'></canvas> -->